
<div class="font">
<table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="dasds">
  <thead>
    <tr>
      <th>ชื่อบัญชี</th>
      <th>ชื่อ - สกุล</th>
      <th>ชุมชน</th>
      <th>สิทธิ์</th>
      <th><span>จัดการ</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profile of profileModels ; let i = index">
      <td><span>{{profile.userName}}</span></td>
      <td><span>{{profile.fullName}}</span></td>
      <td><span>{{profile.community}}</span></td>
      <td><span>{{profile.role}}</span></td>
      <td>
        <div class="button">
          <button class="button button1" (click)="onUpdateProfileElderly(profile.userId)" >แก้ไข</button>
          <button class="button button2" (click)="deleteProfile(profile.userId)">ลบ</button>
      </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
