<form [formGroup]="changePassword">
  <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
  <div class="head">
  <h3>เปลี่ยนรหัสผ่าน</h3>
  </div>
  <hr>
  <div class="row">
    <!-- <div class="col-lg-1"></div> -->
    <div class="col1">
      <label>รหัสผ่านปัจจุบัน</label>&nbsp;
      <i class="fa fa-asterisk" style="font-size:10px;color:red"></i>
      <input type="password" class="form-control" formControlName="passWord">
    </div>
  </div>
  <div class="row">
      <!-- <div class="col-lg-1"></div> -->
    <!-- <div class="col-lg-3"> -->
      <div class="col1"> 
      <label>รหัสผ่านใหม่</label>&nbsp;
      <i class="fa fa-asterisk" style="font-size:10px;color:red"></i>
      <input type="password" class="form-control" formControlName="passWordNew">
    </div>
  </div>
  <div class="row">
      <!-- <div class="col-lg-1"></div> -->
      <div class="col1">
      <label>พิมพ์รหัสผ่านอีกครั้ง</label>&nbsp;
      <i class="fa fa-asterisk" style="font-size:10px;color:red"></i>
      <input type="password" class="form-control" formControlName="passWordOld">
    </div>
  </div>
</form>  
<hr> 
  <div class="button">
      <!-- <button class="btn rounded-btn" (click)="onSavePassword()">บันทึก</button> &nbsp; -->
      <button class="button button1" (click)="onSavePassword()">บันทึกการเปลี่ยนแปลง</button>
      <button class="button button2" (click)="onBack()">ยกเลิก</button>
  </div>