<div [@routerTransition]>
  <div class="font">
    <h3>ประวัติผลการประเมิน</h3>
  </div>
  <hr>
  <form [formGroup]="inspectionForm">
    <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
    <div class="row">
      <!-- <div class="col-lg-1"></div> -->
      <div class="form-group row col-lg-5">
        <label for="colFormLabel" class="col-sm-2 col-form-label">โรค</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="inspectionId"
            [ngModel]="inspectionId != null ? inspectionId : '' ">
            <option value="">-- ทั้งหมด --</option>
            <option *ngFor="let inspection of inspectionModels ; let i = index" value="{{inspection.inspectionId}}">
              <span>{{inspection.inspectionName}}</span>
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row col-lg-5">
        <label for="colFormLabel" class="col-sm-2 col-form-label">ชุมชน</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="community" [ngModel]="community != null ? community : '' ">
            <option value="">-- ทั้งหมด --</option>
            <option value="1">วัดขุนก้อง</option>
            <option value="2">วัดกลาง</option>
            <option value="3">วัดร่องมันเทศ</option>
            <option value="4">วัดป่าเรไร</option>
            <option value="5">ป่าตาเส็ง</option>
            <option value="6">วัดถนนหัก</option>
            <option value="7">บ้านเก่า</option>
            <option value="8">วัดใหม่เรไรทอง</option>
            <option value="9">หนองโพรง</option>
            <option value="10">ทุ่งแหลม</option>
            <option value="11">หนองรี</option>
            <option value="12">บ้านหนองกราด</option>
            <option value="13">บ้านหนองเสม็ด</option>
            <option value="14">บ้านจะบวก</option>
            <option value="15">โคกหลวงพ่อ</option>
            <option value="16">บ้านดอนแสลงพันธ์</option>
            <option value="17">บ้านถนนหัก</option>
            <option value="18">ถนนหักพัฒนา</option>
            <option value="19">วัดสวนป่ารักน้ำ</option>
            <option value="20">วัดหัวสะพาน</option>
          </select>
        </div>
      </div>

      <div class="form-group row col-lg-2">
        <label for="colFormLabel" class="col-sm-3 col-form-label">ระดับ</label>
        <div class="col-sm-9">
          <select class="form-control" formControlName="lavel" [ngModel]="lavel != null ? lavel : '' ">
            <option value="">-ทั้งหมด-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group row col-lg-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input type="date" class="form-control" formControlName="dateStart">
        </div>
      </div>

      <div class="form-group row col-lg-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label">ถึง</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" formControlName="dateEnd">
        </div>
      </div>

      <div class="form-group row col-lg-2">
        <div class="col-sm-10">
          <button class="button button1" (click)="loadData()">ค้นหา</button>
        </div>
      </div>
    </div>
  </form>
  <br>
</div>
<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <!-- <agm-marker *ngFor="let m of dataGoogleDetails; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.name" -->
  <agm-marker *ngFor="let m of dataGoogleDetails; let i = index" [latitude]="m.lat" [longitude]="m.lng"
    [iconUrl]="m.marker" (dragEnd)="markerDragEnd(m, $event)"
    >
    <agm-info-window>
      <h5 style="text-align: center;"><strong>รายละเอียดผู้สูงอายุ</strong></h5><br>
      <hr style=" padding: 1px;margin: 0px;">
      <label><strong>ชุมชน :</strong>{{m.community}}</label><br>
       <label><strong>โรค :</strong>{{m.inspectionsName}}</label><br>
       <label><strong>ชื่อ :</strong>{{m.name}}</label>
       <label><strong>ระดับ :</strong><img src="{{m.marker}}" style="width: 20px;height:20px;"></label>
       <hr style=" padding: 1px;margin: 0px;">
       <!-- <label><strong>ชุมชน :</strong>{{m.community}}</label><br>
        <label><strong>โรค :</strong>{{m.inspectionsName}}</label><br>
        <label><strong>ชื่อ :</strong>{{m.name}}</label>
        <label><strong>ระดับ :</strong><img src="{{m.marker}}" style="width: 20px;height:20px;"></label>
        <hr style=" padding: 1px;margin: 0px;"> -->
    </agm-info-window>

  </agm-marker>
</agm-map>
<br>
<div *ngFor="let obj of dataCriterionDetails;">
  <img src="{{obj.marker}}">
  <label>{{obj.criterDetail}}</label>
</div>
<br>
<hr>
<br>
<app-reportall-feature></app-reportall-feature>
<br>
<hr>
<div class="font">
  <h3>สรุปผลการตรวจสุขภาพเบื้องต้นด้วยตนเองสำหรับผู้สูงอายุ</h3>
</div>
<br>
<app-report-conclusion></app-report-conclusion>
