
<div class="font">
<table  datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th style="width: 50%">โรค/คัดกรอง</th>
      <th><span>จัดการ</span></th>
      <th><span>จัดการแบบสอบถาม</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inspection of inspectionModels ; let i = index" >
      <td><span>{{inspection.inspectionName}}</span></td>
      <td>
        <div class="button">
            <button class="button button1" (click)="onUpdateInspection(inspection.inspectionId)" >แก้ไข</button>
            <button class="button button2" (click)="onDeleteInspection(inspection.inspectionId)">ลบ</button>
        </div>
      </td>
      <td>
        <div class="button">
            <button class="button button3" (click)="onManageQuestion(inspection.inspectionId)" >จัดการข้อมูลคำถาม</button>
            <button class="button button4" (click)="onAddEvaluation(inspection.inspectionId)">จักการเกณฑ์การประเมิน</button>
        </div>

      </td>
    </tr>
  </tbody>
</table>
</div>
