.font {
    font-family: 'Prompt', sans-serif;
}

.button {
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

.button1 {
    background-color: #EEC900; 
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 6px 14px;
}
.button1:hover {
    background-color: #8B7500;
}

.button2 {
    background-color: #f44336; /* red */
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 6px 14px;
}
.button2:hover {
    background-color: #92241c;
}
.button3 {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 6px 14px;
}
.button3:hover {
    background-color: #3e8e41;
}

.button4 {
    background-color: #1874CD; 
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 6px 14px;
}
.button4:hover {
    background-color: #104E8B;
}