<!-- <app-page-header [heading]="'เพิ่มข้อมูลคำถาม'" [icon]="'fa-edit'"></app-page-header>
<hr> -->
<div class="font">
    <h3>เพิ่มข้อมูลคำถาม</h3>
  </div>
  <hr>
<form [formGroup]="coiceForm">
  <div class="row">
    <div class="col-lg-1"></div>
    <!-- <div class="col-lg-11"> -->
      <div class="col-lg-8">
          <label>คำถาม</label>
          <input type="text" class="form-control" formControlName="questionName"
            [ngModel]="null != questionModel ? questionModel.questionName : '' ">
        </div>
    <!-- </div> -->
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <label>ตัวเลือกที่ 1</label>
      <input type="text" class="form-control" formControlName="choiceName_1"
        [ngModel]="null != choices && choices.length >=  1 ? choices[0].choiceName : '' ">
    </div>
    <div class="col-lg-3">
      <label>เกณฑ์</label>
      <input type="text" class="form-control" formControlName="choiceCriterion_1"
        [ngModel]="null !=  choices && choices.length >=  1 ? choices[0].choiceCriterion : '' ">
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-8">
        <label>ตัวเลือกที่ 2</label>
        <input type="text" class="form-control" formControlName="choiceName_2"
          [ngModel]="null != choices && choices.length >=  2 ? choices[1].choiceName : '' ">
      </div>
      <div class="col-lg-3">
        <label>เกณฑ์</label>
        <input type="text" class="form-control" formControlName="choiceCriterion_2"
          [ngModel]="null !=  choices && choices.length >=  2? choices[1].choiceCriterion : '' ">
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
          <label>ตัวเลือกที่ 3</label>
          <input type="text" class="form-control" formControlName="choiceName_3"
            [ngModel]="null != choices && choices.length >=  3 ? choices[2].choiceName : '' ">
        </div>
        <div class="col-lg-3">
          <label>เกณฑ์</label>
          <input type="text" class="form-control" formControlName="choiceCriterion_3"
            [ngModel]="null !=  choices && choices.length >=  3 ? choices[2].choiceCriterion : '' ">
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-8">
            <label>ตัวเลือกที่ 4</label>
            <input type="text" class="form-control" formControlName="choiceName_4"
              [ngModel]="null != choices && choices.length >=  4 ? choices[3].choiceName : '' ">
          </div>
          <div class="col-lg-3">
            <label>เกณฑ์</label>
            <input type="text" class="form-control" formControlName="choiceCriterion_4"
              [ngModel]="null !=  choices && choices.length >=  4 ? choices[3].choiceCriterion : '' ">
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
              <label>ตัวเลือกที่ 5</label>
              <input type="text" class="form-control" formControlName="choiceName_5"
                [ngModel]="null != choices && choices.length >=  5 ? choices[4].choiceName : '' ">
            </div>
            <div class="col-lg-3">
              <label>เกณฑ์</label>
              <input type="text" class="form-control" formControlName="choiceCriterion_5"
                [ngModel]="null !=  choices && choices.length >=  5 ? choices[4].choiceCriterion : '' ">
            </div>
          </div>
          <hr>

  <!-- <div class="row">
    <button class="btn rounded-btn" (click)="onSaveChoice()">บันทึก</button>
    &nbsp;
    <button class="btn rounded-btn" (click)="onBack()">ยกเลิก</button>
  </div> -->
<br>
  <div class="button">
      <button class="button button1" (click)="onSaveChoice()">บันทึก</button>
      <button class="button button2" (click)="onBack()">ยกเลิก</button>
  </div>
ิ<br>
</form>