<div class="font" *ngIf="dataShow.length > 0 ">
  <div  *ngFor="let item of dataShow">
    <br>
    <h3>{{item.community}}</h3>
    <table  class="table table-bordered">
      <tr>
        <th  style="text-align: center">ลำดับ</th>
        <th  style="text-align: center">โรค</th>
        <th  style="text-align: center">จำนวน/คน</th>
      </tr>
      <tr *ngFor="let item2 of item.inspectionId; let k = index">
        <td style="width:10%;text-align: center">{{k + 1}}</td>
        <td style="width:75%">{{item2.name}}</td>
        <td style="width:15%;text-align: center">{{item2.member}}</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: center">รวม</td>
        <td style="width:15%;text-align: center"><span style="color: red;">{{item.member}}</span></td>
      </tr>
    </table>
    <hr style=" padding: 1px;margin: 0px;">
  </div>
</div>
